<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prepara2</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<header id="top">
	<div class="logo"><img class="logo1" src="../assets/img/mlogo.png"	alt="logo milis"></div>

		<nav>
			<ul class="menu">
			    <li class="item"><a href="index.html">Inicio</a></li>
			    <li class="item"><a href="./nosotros.html">Nosotros</a></li>
			    <li class="item"><a href="./servicios.html">Productos</a>
			        <!--<ul class="submenu">
			            <li class="sub_i"><a href="./servicios.html">Picadas</a></li>
			            <li class="sub_i"><a href="./servicios.html">Milanesas</a></li>
						<li class="sub_i"><a href="./servicios.html">Hamburguesas</a></li>
			        </ul> -->
			    </li>
			    
			</ul> 
		</nav>
	</header>
    <main>
        <h2>Nuestros productos</h2>
        <section class="section12"></section>
        
    </main>
    <footer>
        
		<h5>Todos los derechos reservados R® </h5>
		
	</footer>
</body>
</html>